{%- comment -%}
  Include as: {%- include head.html -%}
  Depends on: site.ga_tracking, site.ga_tracking_anonymize_ip,
    site.search_enabled, site.static_files, site.favicon_ico.
  Results in: HTML for the head element.
  Includes:
    css/activation.scss.liquid, head_custom.html.
  Overwrites:
    ga_tracking_ids, ga_property, file, favicon.
  Should not be cached, because included files depend on page.
{%- endcomment -%}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-head-nav.css' | relative_url }}" id="jtd-head-nav-stylesheet">

  <style id="jtd-nav-activation">
  {% include css/activation.scss.liquid %}
  </style>

  {% if site.ga_tracking != nil %}
    {% assign ga_tracking_ids = site.ga_tracking | split: "," %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking_ids.first }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      {% for ga_property in ga_tracking_ids %}
        gtag('config', '{{ ga_property }}'{% unless site.ga_tracking_anonymize_ip == nil %}, { 'anonymize_ip': true }{% endunless %});
      {% endfor %}
    </script>
  {% endif %}

  {% if site.search_enabled != false %}
    <script src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
  {% endif %}

  <script src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include_cached favicon.html %}

  {% seo %}

  {% include head_custom.html %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"> </script>

<script>
MathJax = {
    loader: {load: ['[tex]/newcommand', '[tex]/color']},
    tex: {
        packages: {'[+]': ['newcommand', 'color']},
        inlineMath: [['$','$'], ['\(', '\)']],
        displayMath: [['$$', '$$'],['\[', '\]']],
        macros: {
            bold: ['{\bf #1}',1],
            ddfrac: ['{\frac{\displaystyle #1}{\displaystyle #2}}', 2],
            abs: ['\left\lvert #2 \right\rvert_{\text{#1}}', 2, ""],
            floor: ['\left\lfloor #2 \right\rfloor_{\text{#1}}', 2, ""],
            sfrac: ['{ \frac {\ #1 \ }{#2}}', 2],
            lcm: ['\operatorname{lcm}#1', 1]
        },
        processEscapes: true,
        processEnvironments: true,
        processRefs: true,
        digits: /^(?:[0-9]+(?:\{,\}[0-9]{3})*(?:\.[0-9]*)?|\.[0-9]+)/,
        tags:  'ams',
        tagSide: 'right',
        tagIndent: '0.8em', 
        useLabelIds: true,  
        multlineWidth: '85%',
    },
    chtml: {
        scale: 1.2
    },
    svg: {
        scale: 1.3
    }
};
</script>

<script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>


  
</head>
